<!DOCTYPE html>
<html lang="en">
<head>
	<title>Media Server</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>

    <!-- Navigatin bar -->
    <div class="navbar">
        <ul>
            <li class="leftSide"><a href="/">
                <img id="logoImg" src="/static/images/logo.png" alt="logo">
            </a></li>
            <li class="leftSide">
                <a id="logo" href="/">RangerVid</a>
            </li>
            </li>
            <li class="rightSide">
                <a href="/stream/" style="padding: 10px">stream</a>
                <a href="/upload/">upload</a>
            </li>
        </ul>
        <hr/>
    </div>

	<!-- React Feed -->
	<div id="reactEntry">Loading feed ...</div>
	  <!-- Load JavaScript -->
	  <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>
</html>
