<!DOCTYPE html>
<html lang="en">
<head>
    <title>Media Server</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>

    <!-- Navigatin bar -->
    <div class="navbar">
        <ul>
            <li class="leftSide"><a href="/">
                <img id="logoImg" src="/static/images/logo.png" alt="logo">
            </a></li>
            <li class="leftSide">
                <a id="logo" href="/">RangerVid</a>
            </li>
            </li>
            <li class="rightSide">
                <a href="/stream/" style="padding: 10px">stream</a>
                <a href="/upload/">upload</a>
            </li>
        </ul>
        <hr/>
    </div>

    <div class="main">
        <h1>{{title}}</h1>
        <img src='http://www.watchepisodeseries.com/series_images/{{show_name}}.jpg'>

        <ul>
            {% for season in seasons %}
                {% set outer_loop = loop %}
                
                <h3>Season: {{outer_loop.index}}</h3>

                {% for episode in range(season) %}
                    <li>
                        <p><a href="/watch/{{ show_name }}-{{ outer_loop.index }}-{{ episode + 1 }}/">{{episode + 1}}</a></p>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>

    </div>
</body>
</html>
