<!DOCTYPE html>
<html lang="en">
<head>
    <title>Media Server</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>

    <!-- Navigatin bar -->
    <div class="navbar">
        <ul>
            <li class="leftSide"><a href="/">
                <img id="logoImg" src="/static/images/logo.png" alt="logo">
            </a></li>
            <li class="leftSide">
                <a id="logo" href="/">RangerVid</a>
            </li>
            </li>
            <li class="rightSide">
                <a href="/upload/">upload</a>
            </li>
        </ul>
        <hr/>
    </div>

    <div class="main">
        <form action="" method="post" enctype="multipart/form-data">
          <input type="text" placeholder="title" name="title"/>
          <input type="text" placeholder="description" name="description"/>
          <input type="file" name="file">
          <input type="submit" name="Add" value="add"/>
        </form>
    </div>
</body>
</html>
